.about
  display: flex
  align-items: flex-start

  +r($md)
    flex-wrap: wrap

  &__info
    margin-right: 100px

    +r($lg)
      margin-right: 30px

    +r($md)
      margin-right: 0
      margin-bottom: 30px

  &__title
    margin-bottom: 18px
    font-size: 24px
    font-weight: 600
    color: $gray-mineshaft
    text-transform: uppercase

    +r($lg)
      margin-bottom: 14px

  &__desc
    font-size: 15px
    line-height: 25px
    color: $gray-dove

    &:not(:last-of-type)
      margin-bottom: 15px

      +r($lg)
        margin-bottom: 10px

  &__img-wrap
    width: 100%
    max-width: 500px

  &__img
    width: 100%

    +r($md)
      margin: 0 auto

  &__img
    vertical-align: bottom