.builder
  overflow: hidden
  display: grid
  grid-template-columns: repeat(2, 50%)

  +r($xs)
    grid-template-columns: repeat(1, 100%)
    grid-template-rows: repeat(2, 50%)

  &__img
    height: 100%
    vertical-align: top

  &__info
    background: $gradient-main

  &__wrap
    display: flex
    justify-content: center
    flex-direction: column
    width: calc( 1170px / 2 )
    height: 100%
    padding: 15px 0 15px 116px

    +r($lg)
      width: 100%
      padding: 15px 50px

    +r($sm)
      padding: 10px 20px

  &__title
    margin-bottom: 25px
    text-align: left

    +r($md)
      margin-bottom: 20px

    +r($sm)
      margin-bottom: 15px

  &__desc
    font-size: 15px
    line-height: 25px
    color: $color-white

    +r($md)
      font-size: 13px

    &:not(:last-of-type)
      margin-bottom: 12px

      +r($md)
        margin-bottom: 8px