.fact
  position: relative
  padding: 170px 0
  background: $gradient-main

  +r($md)
    padding: 120px 0

  +r($sm)
    padding: 80px 0

  +r($xs)
    padding: 60px 0

  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: url(../img/background/fact-bg.jpg) center no-repeat
    background-size: cover
    opacity: .1