.pricing
  padding: 120px 0 160px

  +r($md)
    padding: 100px 0 140px

  +r($sm)
    padding: 60px 0 100px

  +r($xs)
    padding: 40px 0 80px

  &__title
    margin-bottom: 25px

  &__subtitle
    max-width: 730px
    margin: 0 auto
    font-size: 15px
    text-align: center
    color: $gray-dove