.review
  padding: 120px 0

  +r($md)
    padding: 100px 0 130px

  +r($sm)
    padding: 60px 0 90px

  +r($xs)
    padding: 40px 0 80px

  &__title
    margin-bottom: 100px
    font-weight: 600

    +r($sm)
      margin-bottom: 40px