.search
  padding: 110px 0 120px

  +r($md)
    padding: 100px 0

  +r($sm)
    padding: 60px 0

  +r($xs)
    padding: 40px 0

  &__title
    margin-bottom: 17px

  &__subtitle
    font-size: 16px
    text-align: center
    color: $color-white