.service
  background-color: $gray-alabaster

  &__title
    margin-bottom: 20px

  &__subtitle
    max-width: 670px
    margin: 0 auto
    font-size: 15px
    text-align: center
    color: $gray-mineshaft