.subscribe
  position: relative
  padding: 105px 0 120px

  +r($md)
    padding: 100px 0

  +r($sm)
    padding: 60px 0

  +r($xs)
    padding: 40px 0

  &__overlay
    position: absolute
    top: 0
    width: 100%
    height: calc( (100% / 2) + 50px )
    background: $gradient-main

    +r($md)
      height: calc( 100% / 2 )

    +r($sm)
      height: calc( 100% / 3 )