.footer
  padding: 75px 0 50px
  background-color: $color-primary-dark

  +r($sm)
    padding: 50px 0 30px

  &__wrap
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-gap: 45px 30px

    +r($md)
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(3, 1fr)
      grid-gap: 30px

    +r($sm)
      grid-gap: 20px

    +r($xs)
      grid-template-columns: repeat(1, 1fr)
      grid-template-rows: repeat(8, 1fr)

  &__item
    padding: 0 20px 0 35px

    +r($lg)
      padding: 0 10px

    +r($md)
      padding: 0

  &__logo
    display: block
    margin-bottom: 20px

  &__desc
    font-size: 13px
    color: $gray-manatee

  &__title
    width: 100%
    margin-bottom: 20px
    font-size: 15px
    color: $gray-mercury

  &__social
    display: flex
    flex-wrap: wrap
    align-content: start

  &__link
    display: block
    width: 40px
    height: 40px
    line-height: 40px
    text-align: center
    color: $color-white

    &.footer__link_primary
      background-color: $color-primary

    &.footer__link_danger-dark
      background-color: $color-danger-dark

    &.footer__link_danger-light
      background-color: $color-danger-light

    &.footer__link_primary-light
      background-color: $color-main-lighten

    &.footer__link_danger
      background-color: $color-danger

    .icon
      fill: $color-white
      vertical-align: middle

    .icon-google-plus
      width: 25px

  &__line
    margin: 58px 0 50px
    border: 0
    border-bottom: 1px solid rgba(255, 255, 255, .05)

    +r($sm)
      margin: 30px 0

  &__nav
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between

  &__copyright
    font-size: 14px
    color: rgba(255, 255, 255, .5)

    +r($md)
      font-size: 12px

    +r($xs)
      margin-bottom: 10px