.nav
  position: absolute
  top: 0
  left: 50%
  transform: translateX(-50%)
  z-index: 10
  width: 100%
  max-width: 1185px
  padding: 0 15px

  &__line
    display: flex
    justify-content: space-between
    align-items: center
    padding: 11px 0 13px

    &:first-child
      border-bottom: 1px solid rgba(255, 255, 255, .1)

    +r($xs)

      &:nth-child(2)
        padding: 0

  &__info
    display: flex

    +r($xs)
      display: none

  &__link
    display: block
    font-size: 12px
    color: $color-white
    text-decoration: none

    &:not(:last-of-type)
      margin-right: 47px

      +r($sm)
        margin-right: 20px

    .icon
      margin-right: 15px
      vertical-align: middle
      fill: $color-white

  &__btn-wrap
    display: flex

    +r($sm)
      margin-right: 50px

    +r($xs)
      margin-right: 0
      
  &__btn
    display: block
    width: 25px
    height: 25px
    font-size: 12px
    text-align: center
    line-height: 25px
    border-radius: 50%

    .icon
      vertical-align: middle

    &.nav__btn_cart
      margin-right: 15px
      color: $color-white
      background-color: $color-main

      .icon
        fill: $color-white

    &.nav__btn_user
      color: $color-main
      background-color: $color-white

      .icon
        fill: $color-main