---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

  <!-- BEGIN section about -->
  {% include "partials/section/_section-about.html" %}
  <!-- END section about -->

  <!-- BEGIN section search -->
  {% include "partials/section/_section-search.html" %}
  <!-- END section search -->

  <!-- BEGIN section how it works -->
  {% include "partials/section/_section-works.html" %}
  <!-- END section how it works -->

  <!-- BEGIN section services -->
  {% include "partials/section/_section-services.html" %}
  <!-- END section services -->

  <!-- BEGIN section pricing -->
  {% include "partials/section/_section-pricing.html" %}
  <!-- END section pricing -->

  <!-- BEGIN section website builder -->
  {% include "partials/section/_section-builder.html" %}
  <!-- END section website builder -->

  <!-- BEGIN section how choose -->
  {% include "partials/section/_section-choose.html" %}
  <!-- END section how choose -->

  <!-- BEGIN section fact -->
  {% include "partials/section/_section-fact.html" %}
  <!-- END section fact -->

  <!-- BEGIN section review -->
  {% include "partials/section/_section-review.html" %}
  <!-- END section review -->

  <!-- BEGIN section blog -->
  {% include "partials/section/_section-blog.html" %}
  <!-- END section blog -->

  <!-- BEGIN section faq -->
  {% include "partials/section/_section-faq.html" %}
  <!-- END section faq -->

  <!-- BEGIN section subscribe -->
  {% include "partials/section/_section-subscribe.html" %}
  <!-- END section subscribe -->


  <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" style="width:0;height:0;position:absolute;">
    <defs>
    <linearGradient id="gradient-main" x1="0%" y1="100%" x2="100%" y2="0%" >
      <stop offset="0%" style="stop-color: rgb(49,170,226); stop-opacity: 1" />
      <stop offset="100%" style="stop-color: rgb(157,53,192); stop-opacity: 1" />
    </linearGradient>
    </defs>
  </svg>

{% endblock %}
