<footer class="footer">
  <div class="container">
    <div class="footer__wrap">
      <div class="footer__item">
        <a href="#" class="footer__logo">
          <img src="/img/logo/logo-blue.png" alt="logotype" />
        </a>
        <p class="footer__desc">Road No- 6, House- 25/A Dreamland Tower, Mancity,</p>
      </div>
      {% import "data/footer.html" as items %}
      {% for item in items.footer %}
      <div class="footer__item {% if item.social is defined %} footer__social {% endif %}">
        <h3 class="footer__title">{{item.title}}</h3>
        {% if item.social is defined %}
        {% for item in item.social %}
        <a href="#" class="footer__link footer__link_{{item.modifier}}">
          {{mixins.icon(item.name)}}
        </a>
        {% endfor %}
        {% else %}
        <ul class="footer-list {% if item.modifier is defined %} footer-list_{{item.modifier}} {% endif %}">
        {% for item in item.item %}
          <li class="footer-list__item">
            {% if item.href and item.link is defined %}
            <a href="{{item.href}}" class="footer-list__link">{{item.link}}</a>
            {% elseif item.link is defined %}
            <a href="#" class="footer-list__link">{{item.link}}</a>
            {% else %}
            {{item.days}} {{item.hours}}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <hr class="footer__line" />
    <div class="footer__nav">
      <p class="footer__copyright">&copy; <script>document.write(new Date().getFullYear())</script>Roy Design. All Rights Reserved </p>
      <ul class="footer-menu">
        {% import "data/menu.html" as items %}
        {% for item in items.menu.footer_menu %}
        <li class="footer-menu__item">
          <a href="#" class="footer-menu__link">{{item}}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>