<header class="header">
  <!-- BEGIN navigation -->
  {% include "partials/_navigation.html" %}
  <!-- END navigation -->
  <div class="social">
    {% import "data/social.html" as items %}
    {% for item in items.social.header_social %}
    <a href="#" class="social__link">
      {{mixins.icon(item)}}
    </a>
    {% endfor %}
  </div>
  <!-- BEGIN slider -->
  {% include "partials/_slider.html" %}
  <!-- END slider -->
</header>