<nav class="nav">
  <div class="nav__line">
    <div class="nav__info">
      <a href="#" class="nav__link">{{mixins.icon('chat')}} Live Chat</a>
      <a href="tel:+91 254 878 547" class="nav__link">{{mixins.icon('phone-call')}} +91 254 878 547</a>
      <a href="mailto:yourmail@info.com" class="nav__link">{{mixins.icon('envelope')}} yourmail@info.com</a>
    </div>
    <div class="nav__btn-wrap">
      <a href="#" class="nav__btn nav__btn_cart">{{mixins.icon('shopping-cart')}}</a>
      <a href="#" class="nav__btn nav__btn_user">{{mixins.icon('user')}}</a>
    </div>
  </div>
  <div class="nav__line">
    <a href="#" class="logo" aria-label="name">
      <img src="/img/logo/logo.png" alt="logotype" class="logo__img" />
    </a>
    <ul class="menu">
      {% import "data/menu.html" as items %}
      {% for item in items.menu.header_menu %}
      <li class="menu__item">
        <a href="#" class="menu__link">{{item}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="hamburger">
    <svg class="ham hamRotate" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 100 100" width="50">
      <path class="line top" d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path>
      <path class="line middle" d="m 30,50 h 40"></path>
      <path class="line bottom" d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path>
    </svg>
  </div>
</nav>