<div class="header-slider js-header-slider">
  {% import "data/header-slider.html" as slides %}
  {% for slide in slides.slider %}
  <div class="header-slider__slide">
    <img src="{{slide.img}}" alt="{{slide.title}}" class="header-slider__img" />
    <div class="header-slider__text">
      <h2 class="header-slider__title">{{slide.title}}</h2>
      <div class="header-advantages">
        {% for item in slide.advantages %}
        <div class="header-advantages__item">
          <div class="header-advantages__hex">
            <div class="header-advantages__hex-border"></div>
            <div class="header-advantages__inner">
              {% if item.value is defined %}
              <p class="header-advantages__value">{{item.value}}</p>
              {% else %}
              {{mixins.icon(item.img)}}
              {% endif %}
            </div>
          </div>
          <h3 class="header-advantages__title">{{item.title}}</h3>
        </div>
        {% endfor %}
      </div>
      <a href="#" class="header-slider__btn">Get started</a>
    </div>
  </div>
  {% endfor %}
</div>