.header-slider
  overflow: hidden
  background: $gradient-main

  .slick-arrow
    position: absolute
    z-index: 2
    display: block
    width: 50px
    height: 50px
    font-size: 0
    line-height: 0
    text-align: center
    color: transparent
    background-color: rgba(26, 26, 26, .24)
    border: none
    border-radius: 3px
    cursor: pointer
    outline: 0
    +pseudo
    transition: background-color .3s ease

    +r($sm)
      width: 30px
      height: 30px

    &::before
      +vcenter
      display: block
      width: 9px
      height: 15px
      transform: translate(-50%, -50%)
      transition: background-color .3s ease

      +r($sm)
        height: 10px

  .slick-prev
    top: calc( 50% - 51px )

    +r($sm)
      top: calc( 50% - 31px )

    +r($xs)
      top: auto
      bottom: 42px

    &::before
      background: url(../img/icons/arrow-prev.svg) center no-repeat
      background-size: cover

    &:hover
      background-color: rgba(9, 9, 9, .1)

      &::before
        background: url(../img/icons/arrow-prev-blue.svg) center no-repeat
        background-size: cover

  .slick-next
    bottom: calc( 50% - 51px )

    +r($sm)
      bottom: calc( 50% - 31px )

    +r($xs)
      bottom: 10px

    &::before
      background: url(../img/icons/arrow-next.svg) center no-repeat
      background-size: cover

    &:hover
      background-color: rgba(9, 9, 9, .1)

      &::before
        background: url(../img/icons/arrow-next-blue.svg) center no-repeat
        background-size: cover

  &__slide
    position: relative
    vertical-align: top

  &__img
    width: 100%
    opacity: .1

    +r($lg)
      height: 600px
      object-fit: cover

    +r($xs)
      height: 400px

  &__text
    +vcenter
    max-width: 600px
    text-align: center

    +r($xs)
      width: 100%

  &__title
    margin-bottom: 32px
    font-size: 42px
    font-weight: 700
    color: $color-white
    text-transform: uppercase

    +r($lg)
      font-size: 32px

    +r($sm)
      font-size: 24px

    +r($xs)
      margin-bottom: 20px
      font-size: 20px

  &__btn
    position: relative
    display: block
    width: max-content
    margin: 45px auto 0
    padding: 16px 25px
    font-size: 13px
    font-weight: 600
    color: $gray-twilight
    text-transform: uppercase
    text-decoration: none
    background-color: $color-main
    border-radius: 2px

    +r($xs)
      margin: 20px auto 0
      padding: 10px 15px

    &::before
      content: ''
      position: absolute
      top: -2px
      left: -2px
      z-index: -1
      width: calc( 100% + 4px )
      height: calc( 100% + 2px )
      background-color: $color-white
      border-radius: 2px