.pricing-slider
  $this: &
  margin-top: 70px

  +r($sm)
    margin-top: 30px

  .slick-arrow
    position: absolute
    top: calc( 50% - 10px )
    transform: translateY(-50%)
    z-index: 2
    display: block
    width: 36px
    height: 36px
    font-size: 0
    line-height: 0
    text-align: center
    color: transparent
    background-color: transparent
    border: none
    cursor: pointer
    outline: 0
    +pseudo

    &::before
      +vcenter
      display: block
      width: 20px
      height: 9px

  .slick-prev
    left: -80px

    +r($lg)
      left: -20px

    &::before
      background: url(../img/icons/long-arrow-left.svg) center no-repeat
      background-size: cover

  .slick-next
    right: -80px

    +r($lg)
      right: -20px

    &::before
      background: url(../img/icons/long-arrow-right.svg) center no-repeat
      background-size: cover

  .slick-dots
    position: absolute
    bottom: -50px
    left: 0
    display: flex
    width: max-content
    padding: 0
    margin: 0
    text-align: center

    +r($sm)
      right: 20px

    li
      position: relative
      display: block
      width: 14px
      height: 14px
      padding: 0
      cursor: pointer

      &:not(:last-of-type)
        margin-right: 10px        

      &.slick-active

        button
          background-color: $color-main

      button
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        font-size: 0
        line-height: 0
        display: block
        width: 14px
        height: 14px
        cursor: pointer
        color: transparent
        border: 2px solid $color-main
        outline: 0
        background-color: transparent

  &__wrap
    display: flex
    align-items: center

    +r($lg)
      padding: 0 20px

    +r($md)
      flex-wrap: wrap
      padding: 0

  &__info
    margin-right: 90px

    +r($lg)
      width: calc( 100% - 480px )
      margin-right: 30px

    +r($md)
      width: 100%
      margin-right: 0
      order: 2

  &__img-wrap
    margin-top: 34px

    +r($lg)
      width: 450px

    +r($md)
      margin: 0 auto 30px

  &__img
    width: 100%

  &__title
    margin-bottom: 30px
    font-size: 24px
    font-weight: 600
    color: $gray-mineshaft
    text-transform: uppercase

  &__package-info
    display: flex
    align-items: flex-start
    flex-wrap: wrap
    margin-bottom: 22px

    +r($xs)
      justify-content: center

  &__icon
    position: relative
    width: 120px
    height: 96px
    margin-right: 70px
    font-size: 96px
    line-height: 110px

    +r($lg)
      width: 100px
      height: 80px
      font-size: 80px
      margin-right: 25px
      line-height: 95px

    +r($xs)
      margin-right: 0
      margin-bottom: 15px

    #{$this}__price
      font-size: 40px
      font-weight: 700
      text-align: center
      color: $gray-rose-white

      +r($lg)
        font-size: 34px

    .icon
      position: absolute
      z-index: -1
      fill: url(#gradient-main) $color-purple

  &__list
    column-count: 2

  &__item
    position: relative
    margin-top: 25px
    padding-left: 25px
    font-size: 15px
    line-height: 1
    color: $gray-dove

    +r($lg)
      padding-left: 20px
      font-size: 14px

    &:first-child,
    &:nth-child(4)
      margin-top: 0

    &::before
      content: ''
      position: absolute
      top: 3px
      left: 0
      width: 12px
      height: 9px
      background: url(../img/icons/check.svg) center no-repeat
      background-size: contain

  &__desc
    font-size: 15px
    line-height: 25px
    color: $gray-dove

  &__btn
    display: block
    width: max-content
    margin-top: 42px
    padding: 12px 34px
    font-size: 15px
    font-weight: 600
    color: $color-main
    text-decoration: none
    border: 1px solid $color-main
    border-radius: 3px