.review-slider
  $this: &
  display: flex
  align-items: flex-end
  width: 100%
  height: 100%
  padding: 0 65px

  +r($md)
    padding: 0

  +r($sm)
    display: none

  &__dots
    position: absolute
    bottom: 0
    left: 50%
    z-index: 999
    transform: translateX(-50%)
    display: flex
    align-items: center

    +r($md)
      bottom: -30px

  &__dots-item
    position: relative
    cursor: pointer
    width: 15px
    height: 15px
    margin: 5px
    background: linear-gradient($color-white, $color-white) padding-box, $gradient-main
    border: 1px dashed $color-white
    border-radius: 50%
    transition: height .3s ease, width .3s ease

    &::before
      content: ''
      +vcenter
      width: 14px
      height: 14px
      background: $gradient-main
      border-radius: 50%
      opacity: 0
      transition: opacity .3s ease

    &.is-active
      width: 20px
      height: 20px

      &::before
        opacity: 1

  &__wrap
    position: relative
    overflow: hidden
    display: flex
    justify-content: center
    width: 100%
    height: 348px
    margin: 0 auto
    padding: 0 20px
    background: url(../img/review/circle.svg) no-repeat
    background-size: 85%

  &__holder
    position: relative
    display: flex
    justify-content: center
    align-items: center
    transition-duration: .6s

  &__slide
    position: absolute
    z-index: 20
    transform-origin: center
    transition: .3s linear all
    text-align: center
    transition-duration: .6s

    +r($sm)
      position: relative

    &.is-active

      #{$this}__text
        display: block

  &__img
    vertical-align: bottom

    +r($md)
      width: 60px

    +r($sm)
      margin: 0 auto 15px

  &__text
    position: absolute
    left: 50%
    bottom: -54px
    transform: translateX(-50%)
    display: none
    width: 120px

    +r($md)
      bottom: -40px

  &__name
    font-size: 18px
    font-weight: 600
    color: $gray-mineshaft

    +r($md)
      font-size: 14px

  &__profession
    font-size: 15px
    color: $gray-dove

    +r($md)
      font-size: 12px

    +r($sm)
      margin-bottom: 15px

  &__content
    position: absolute
    bottom: 35px
    z-index: 30

    +r($md)
      bottom: 30px

  &__item
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: 0%
    opacity: 0
    transition: opacity 0s 0s linear

    .icon
      width: 20px
      height: 24px
      margin-bottom: 15px
      fill: url(#gradient-main) #9d35c0

      +r($lg)
        margin-bottom: 5px

    &.is-active
      height: 100%
      opacity: 1
      transition: opacity .6s 0s linear

  &__desc
    overflow-y: auto
    max-height: 100px
    font-size: 14px
    line-height: 24px
    font-style: italic
    text-align: center
    color: $gray-dove

    +r($lg)
      font-size: 11px

    +r($sm)
      overflow-y: visible
      max-height: 100%

  &__slick
    display: none

    .slick-dots
      position: absolute
      bottom: -50px
      left: 50%
      transform: translateX(-50%)
      display: flex
      justify-content: center
      flex-wrap: wrap
      width: 100%
      padding: 0
      margin: 0
      text-align: center

      +r($xs)
        bottom: -70px

      li
        position: relative
        display: block
        width: 20px
        height: 20px
        margin: 5px
        padding: 0
        cursor: pointer

        &::before
          content: ''
          +vcenter
          z-index: 10
          width: 14px
          height: 14px
          background: $gradient-main
          border-radius: 50%
          opacity: 0
          transition: opacity .3s ease      

        &.slick-active

          &::before
            opacity: 1

          button
            width: 20px
            height: 20px

        button
          +vcenter
          cursor: pointer
          display: block
          width: 15px
          height: 15px
          outline: 0
          font-size: 0
          line-height: 0
          color: transparent
          background: linear-gradient($color-white, $color-white) padding-box, $gradient-main
          border: 1px dashed $color-white
          border-radius: 50%
          transition: height .3s ease, width .3s ease

    .icon
      width: 20px
      height: 24px
      margin-bottom: 15px
      fill: url(#gradient-main) #9d35c0

    +r($sm)
      display: block