.subscribe-slider
  $this: &
  padding: 68px 0 90px

  +r($md)
    padding: 40px 0 70px

  .slick-arrow
    position: absolute
    bottom: 0
    transform: translateX(-50%)
    z-index: 2
    display: block
    width: 30px
    height: 30px
    font-size: 0
    line-height: 0
    text-align: center
    color: transparent
    background-color: rgba(0, 174, 239, .24)
    border: none
    border-radius: 3px
    cursor: pointer
    outline: 0
    +pseudo
    transition: background-color .3s ease

    &::before
      +vcenter
      display: block
      width: 10px
      height: 14px
      transform: translate(-50%, -50%)
      transition: background-color .3s ease

  .slick-prev
    left: calc( 50% - 30px )

    &::before
      background: url(../img/icons/arrow-prev.svg) center no-repeat
      background-size: cover

    &:hover
      background-color: $gray-wild-sand

      &::before
        background: url(../img/icons/arrow-prev-blue.svg) center no-repeat
        background-size: cover

  .slick-next
    left: calc( 50% + 30px )

    &::before
      background: url(../img/icons/arrow-next.svg) center no-repeat
      background-size: cover

    &:hover
      background-color: $gray-wild-sand

      &::before
        background: url(../img/icons/arrow-next-blue.svg) center no-repeat
        background-size: cover

  &__slide
    height: 52px
    line-height: 52px
    text-align: center
    vertical-align: middle

    #{$this}__img
      display: inline
      vertical-align: middle