<section class="section pricing">
  <div class="container">
    <h2 class="pricing__title title-dark">Choose your package</h2>
    <p class="pricing__subtitle">Find the Perfect Hosting Package for You, Get the Best Web Hosting Deals Today! Bhost is one of the best  web hosting services. Join Bhost now and get a free domain name!</p>
    <div class="pricing-slider js-pricing-slider">
      {% import "data/pricing-slider.html" as slides %}
      {% for slide in slides.slider %}
      <div class="pricing-slider__slide">
        <div class="pricing-slider__wrap">
          <div class="pricing-slider__info">
            <h3 class="pricing-slider__title">{{slide.title}}</h3>
            <div class="pricing-slider__package-info">
              <div class="pricing-slider__icon">
                {{mixins.icon('cloud')}}
                <p class="pricing-slider__price">&dollar;{{slide.price}}</p>
              </div>
              <ul class="pricing-slider__list">
                {% for item in slide.list %}
                <li class="pricing-slider__item">{{item}}</li>
                {% endfor %}
              </ul>
            </div>
            <p class="pricing-slider__desc">{{slide.desc}}</p>
            <a href="#" class="pricing-slider__btn">Get started</a>
          </div>
          <div class="pricing-slider__img-wrap">
            <img src="{{slide.img}}" alt="{{slide.title}}" class="pricing-slider__img" />
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>