<section class="section choose">
  <div class="container">
    <h2 class="choose__title title-dark">How to choose the best web hosting company?</h2>
    <div class="tabs js-tab">
      <ul class="tabs__header js-tab-list">
        {% import "data/tabs.html" as items %}
        {% for item in items.tabs.tabs_list %}
        <li class="tabs__item js-tab-item">
          <span>{{item}}</span>
        </li>
        {% endfor %}
      </ul>
      
      <div class="tabs__content">
        {% import "data/tabs.html" as items %}
        {% for item in items.tabs.tabs_content %}
        <div class="tabs__content-item js-tab-content-item">
          <div class="tabs__wrap">
            <h3 class="tabs__title">{{item.title}}</h3>
            <div class="tabs__text-wrap">
              {% for item in item.desc %}
              <p class="tabs__desc">{{item}}</p>
              {% endfor %}
            </div>
            <img src="{{item.img}}" alt="" class="tabs__img" />
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>