<section class="section faq">
  <div class="container faq__container">
    <h2 class="faq__title title-dark">Have question?</h2>
    <div class="tab-faq js-tab">
      {% import "data/faq.html" as items %}
      <ul class="tab-faq__header js-tab-list">
        <li class="tab-faq__item">
          <h3 class="tab-faq__title">Categories</h3>
        </li>
        {% for item in items.faq %}
        <li class="tab-faq__item js-tab-item"><span>{{item.tab_item}} ({{item.tab_count}})</span></li>
        {% endfor %}
      </ul>
      <div class="tab-faq__content">
        {% for item in items.faq %}
        <div class="tab-faq__content-item js-tab-content-item">
          <div class="accordion js-accordion">
            {% for item in item.accordion %}
            <div class="accordion__item js-accordion-item">
              <div class="accordion__content js-accordion-content-item">
                <p class="accordion__desc">{{item.desc}}</p>
              </div>
              <div class="accordion__title">
                {{item.title}}
                <div class="accordion__icon">
                  <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" height="512" width="512">
                    <g>
                      <g class="icon-minus">
                        <path fill="currentColor" d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                      </g>
                      <g class="icon-plus">
                        <path fill="currentColor" d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"></path>
                      </g>
                    </g>
                  </svg>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>