<section class="section review">
  <div class="container">
    <h2 class="review__title title-dark">they ate happy!</h2>
    <div class="review-slider js-review-slider">
      <div class="review-slider__wrap js-slider-wrap">
        <div class="review-slider__holder js-slider-holder">
          {% import "data/review-slider.html" as items %}
          {% for item in items.slider %}
          <div class="review-slider__slide js-slider-slide">
            <img src="{{item.slide.img}}" alt="" class="review-slider__img" />
            <div class="review-slider__text">
              <p class="review-slider__name">{{item.slide.name}}</p>
              <p class="review-slider__profession">{{item.slide.profession}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
        <div class="review-slider__content js-slider-content">
          {% for item in items.slider %}
          <div class="review-slider__item js-slider-content-item">
            {{mixins.icon('quote-left')}}
            <p class="review-slider__desc">{{item.content}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <ul class="review-slider__dots js-slider-dots"></ul>
    </div>
    <div class="review-slider__slick js-review-slider-slick">
      {% import "data/review-slider.html" as items %}
      {% for item in items.slider %}
      <div class="review-slider__slide">
        <img src="{{item.slide.img}}" alt="" class="review-slider__img" />
        <p class="review-slider__name">{{item.slide.name}}</p>
        <p class="review-slider__profession">{{item.slide.profession}}</p>
        {{mixins.icon('quote-left')}}
        <p class="review-slider__desc">{{item.content}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>