<section class="section works">
  <div class="container">
    <h2 class="works__title title-dark">How to build your website ?</h2>
    <p class="works__subtitle">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teor invidunt ut abore et dolore magnaLorem ipsum dolor sit amet, lorem ipsum dollar.</p>
    <div class="works-detail">
      {% import "data/details.html" as items %}
      {% for item in items.details %}
      <div class="works-detail__info">
        <div class="works-detail__number">
          <span>{{item.number}}</span>
        </div>
        <h3 class="works-detail__title">{{item.title}}</h3>
        <p class="works-detail__desc">{{item.desc}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>