<section class="builder">
  <div class="builder__img-wrap">
    <img src="/img/builder-img.jpg" alt="" class="builder__img" />
  </div>
  <div class="builder__info">
    <div class="builder__wrap">
      <h2 class="builder__title title-light">Web site builder</h2>
      <p class="builder__desc">Website hosting services are basically the plot of internet land that your website storefront sits on. If you have a website, it need to be be on the web, these hosting services are the landlords that put up your site and keep it running.</p>
      <p class="builder__desc">So your customer can access and see it when they type in your url. There are different types of hosting services that cater to  varying types of businesses.</p>
    </div>
  </div>
</section>