<section class="section about">
  <div class="container">
    <div class="about">
      <div class="about__info">
        <h2 class="about__title">experienced we are!</h2>
        <p class="about__desc">Without the best web hosting, your ability to run a successful website is going to be seriously hindered. There is a dizzying array of web hosting providers competing for your business.</p>
        <p class="about__desc">We are experienced, last 15 years we lead the world in hosting service. if you need any hosting services? we are eagerly wating for you.</p>
        <div class="about-advantages">
          {% import "data/advantages.html" as items %}
          {% for item in items.advantages %}
          <div class="about-advantages__item">
            <div class="about-advantages__icon about-advantages__icon_{{item.modifier}}">
              {{mixins.icon(item.icon)}}
            </div>
            <div class="about-advantages__info">
              <h3 class="about-advantages__title">{{item.title}}</h3>
              <p class="about-advantages__value">{{item.value}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="about__img-wrap">
        <img src="/img/about-img.jpg" alt="" class="about__img" />
      </div>
    </div>
  </div>
</section>