<section class="section search" style="background: url(/img/background/search-bg.jpg); background-size: cover;">
  <div class="container">
    <h2 class="search__title title-light">Find your domain name</h2>
    <p class="search__subtitle">Starting From $1.65 Per Year!</p>
    <form action="#" class="search-form">
      <div class="search-form__wrap">
        <div class="search-form__icon">{{mixins.icon('search')}}</div>
        <input type="text" placeholder="eg. search.com" class="search-form__input" />
        <button class="search-form__btn">Search</button>
      </div>
      <div class="search-form__checkbox-wrap">
        {% set i = 0 %}
        {% import "data/search.html" as items %}
        {% for item in items.search %}
        {% set i = i + 1 %}
        <div class="search-form__checkbox">
          <input type="checkbox" name="checkbox-{{i}}" id="checkbox-{{i}}" />
          <label for="checkbox-{{i}}">
            <span></span>
            {{item.item}}
          </label>
        </div>
        {% endfor %}
      </div>
    </form>
  </div>
</section>