<section class="section service">
  <div class="container">
    <h2 class="service__title title-dark">What makes our Wordpress hosting is Best?</h2>
    <p class="service__subtitle"> We'll help you find the right blend of our technologies and service expertise to power your enterprise performance. Join Bhost now and get a free domain name!</p>
    <div class="services">
      {% import "data/services.html" as items %}
      {% for item in items.services %}
      <div class="services__item">
        <div class="services__icon">
          {{mixins.icon(item.icon)}}
        </div>
        <h3 class="services__title">{{item.title}}</h3>
        <p class="services__desc">{{item.desc}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>