<section class="section fact">
  <div class="container">
    <div class="facts">
      {% import "data/fact.html" as items %}
      {% for item in items.fact %}
      <div class="facts__item">
        <div class="facts__icon">
          {{mixins.icon('cloud')}}
          {{mixins.icon(item.icon)}}
        </div>
        <div class="facts__value"><span class="js-count-item">{{item.value}}</span></div>
        <p class="facts__desc">{{item.desc}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>