<section class="section blog">
  <div class="container">
    <div class="article">
      {% import "data/article.html" as items %}
      {% for item in items.article %}
      <div class="article__item">
        <div class="article__img-wrap">
          <img src="{{item.img}}" alt="{{item.title}}" class="article__img" />
          <div class="article__date"><span>{{item.date}}</span></div>
        </div>
        <div class="article__info">
          <p class="article__author">{{item.author}}</p>
          <h3 class="article__title">{{item.title}}</h3>
          <hr class="article__line" />
          <p class="article__desc">{{item.desc}}</p>
        </div>
        <div class="article__nav">
          <a href="#" class="article__btn"><span>Read more</span></a>
          <a href="#" class="article__comment">{{mixins.icon('comment')}} {{item.comment}}</a>
          <a href="#" class="article__share">{{mixins.icon('share-alt')}}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>