<section class="section subscribe">
  <div class="subscribe__overlay"></div>
  <div class="container">
    <div class="subscribe-item">
      <div class="subscribe-item__wrap">
        <form action="#" class="subscribe-item__form">
          <h2 class="subscribe-item__title title-light">Subscribe our newsletter</h2>
          <p class="subscribe-item__subtitle">Singup for our news letter</p>
          <div class="subscribe-item__form-wrap">
            <input type="text" class="subscribe-item__input" placeholder="Enter your email address" />
            <button class="subscribe-item__btn">subscribe</button>
          </div>
        </form>
        <div class="subscribe-slider js-subscribe-slider">
          {% import "data/subscribe-slider.html" as items %}
          {% for item in items.slider %}
          <div class="subscribe-slider__slide">
            <img src="{{item.img}}" alt="{{item.name}}" class="subscribe-slider__img" />
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="subscribe-contact">
        <div class="subscribe-contact__info">
          <div class="subscribe-contact__icon">
            {{mixins.icon('phone-call')}}
          </div>
          <h3 class="subscribe-contact__title">Need Help?</h3>
          <p class="subscribe-contact__subtitle">call us!</p>
          <a href="tel:+91 254 754 785" class="subscribe-contact__link">+91 254 754 785</a>
          <a href="#" class="subscribe-contact__btn">Live Chat</a>
        </div>
      </div>
    </div>
  </div>
</section>