.about-advantages
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-template-rows: repeat(2, 1fr)
  grid-gap: 30px 40px
  margin-top: 41px

  +r($lg)
    margin-top: 25px

  +r($xs)
    grid-gap: 15px

  &__item
    display: flex
    align-items: center

  &__icon
    width: 55px
    height: 55px
    margin-right: 18px
    line-height: 55px
    text-align: center
    border-radius: 2px

    &:hover
      cursor: pointer

    +r($lg)
      margin-right: 10px

    +r($xs)
      width: 40px
      height: 40px
      line-height: 40px

    &.about-advantages__icon_default
      background-color: $color-mirage

    &.about-advantages__icon_primary
      background-color: $color-main

    &.about-advantages__icon_purple
      background-color: $color-amethyst

    &.about-advantages__icon_success
      background-color: $color-success

    .icon
      width: 1.4em
      height: 1.4em
      fill: $color-white
      vertical-align: middle

      +r($xs)
        width: 1.2em
        height: 1.2em

  &__title
    margin-bottom: 5px
    font-size: 16px
    font-weight: 700
    color: $gray-mineshaft
    text-transform: uppercase

    +r($lg)
      font-size: 14px

    +r($xs)
      margin-bottom: 0
      font-size: 11px
      text-align: center

  &__value
    font-size: 15px
    font-weight: 600
    text-align: center
    color: $gray-dove

    +r($xs)
      font-size: 10px