.accordion
  $this: &

  &__item
    background-color: $gray-alabaster

    &:not(:last-of-type)
      margin-bottom: 22px

    &.is-active

      #{$this}__icon

        .icon-plus
          transform: scaleY(0)

  &__title
    position: relative
    cursor: pointer
    padding: 17px 56px 17px 46px
    font-size: 16px
    color: $gray-tundora

    +r($xs)
      padding: 17px 56px 17px 20px
      font-size: 14px

    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 15px
      height: 100%
      background-color: $color-main

  &__icon
    position: absolute
    top: 0
    right: 0
    width: 56px
    height: 56px
    line-height: 56px
    text-align: center
    background: $gradient-main

    .icon
      width: 19px
      height: 19px
      fill: $color-white
      color: $color-white
      vertical-align: middle

    .icon-plus
      transform: scaleY(1)
      transform-origin: 50% 50%
      transition: transform .3s ease

  &__content
    display: none
    padding: 30px 46px 12px

    +r($xs)
      padding: 20px 20px 12px

  &__desc
    font-size: 15px
    line-height: 25px
    color: $gray-tundora

    +r($xs)
      font-size: 12px