.article
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 30px

  +r($md)
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)

  +r($sm)
    grid-template-columns: repeat(1, 1fr)
    grid-template-rows: repeat(3, 1fr)

  &__item
    display: flex
    flex-direction: column
    background-color: $color-white

  &__img-wrap
    position: relative

  &__img
    width: 100%

  &__date
    position: absolute
    bottom: 15px
    left: 17px
    width: max-content
    padding: 11px 19px
    font-size: 14px
    font-weight: 600
    color: $color-white
    text-transform: uppercase
    background-color: $color-main
    border-radius: 3px

    span
      position: relative
      z-index: 1

    &:hover

      &::before
        opacity: 1

    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      transform: translate(0, 0)
      z-index: 0
      width: 100%
      height: 100%
      background-image: $gradient-main
      border-radius: 2px
      opacity: 0
      transition: opacity .3s ease

  &__info
    padding: 32px 24px 27px

    +r($xs)
      padding: 20px 15px 20px

  &__author
    margin-bottom: 5px
    font-size: 15px
    color: $gray-dove
  
  &__title
    font-size: 18px
    font-weight: 600
    color: $gray-mineshaft

    +r($lg)
      font-size: 16px

  &__line
    margin: 15px 0 20px
    border: 0
    border-bottom: 1px solid $gray-gallery

  &__desc
    font-size: 14px
    line-height: 25px
    color: $gray-dove

  &__nav
    display: flex
    align-items: center
    margin-top: auto
    padding: 0 25px 30px

    +r($xs)
      padding: 0 15px 20px

  &__btn
    position: relative
    width: max-content
    margin-right: 64px
    padding: 8px 22px
    font-size: 14px
    font-weight: 600
    color: $color-main
    text-transform: uppercase
    text-decoration: none
    background-color: $gray-alabaster
    border-radius: 2px

    +r($lg)
      margin-right: 30px

    +r($xs)
      margin-right: 15px
      padding: 8px 15px

    span
      position: relative
      z-index: 1

    &:hover
      color: $gray-rose-white

      &::before
        opacity: 1

    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      transform: translate(0, 0)
      z-index: 0
      width: 100%
      height: 100%
      background-image: $gradient-main
      border-radius: 2px
      opacity: 0
      transition: opacity .3s ease

  &__comment
    margin-right: 10px
    padding: 5px 10px
    font-size: 14px
    color: $gray-mineshaft
    text-decoration: none
    background-color: $gray-alabaster
    border-radius: 2px

    .icon
      fill: $gray-mineshaft

  &__share
    padding: 4px 10px
    background-color: $gray-alabaster
    border-radius: 2px

    .icon
      fill: $gray-mineshaft
      vertical-align: middle