.works-detail
  $this: &
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-gap: 172px
  margin-top: 64px
  text-align: center

  +r($md)
    grid-gap: 60px

  +r($sm)
    grid-gap: 30px
    margin-top: 40px

  +r($xs)
    grid-template-columns: repeat(1, 1fr)
    grid-template-rows: repeat(3, 1fr)

  &__info
    position: relative
    transition: all 10s ease

    &:not(:last-of-type)

      &::before
        content: ''
        position: absolute
        top: 35px
        left: 175px
        width: 372px
        height: 1px
        border-top: 1px dashed $color-main

        +r($lg)
          left: calc(50% + 35px)
          width: calc( 100% + 100px )

        +r($md)
          width: calc( 100% - 10px )

        +r($sm)
          width: calc( 100% - 41px )

        +r($xs)
          content: none
          
    &:hover

      #{$this}__number
        color: $gray-titan
        border: 1px solid transparent

        &::before
          opacity: 1


  &__number
    position: relative
    width: 70px
    height: 70px
    margin: 0 auto 25px
    font-size: 24px
    line-height: 70px
    font-family: $font-primary, sans-serif
    color: $color-main
    border: 1px dashed $color-main
    border-radius: 50%
    transition: color .4s ease, border .2s ease

    +r($sm)
      margin: 0 auto 15px

    &::before
      content: ''
      +vcenter
      width: 70px
      height: 70px
      z-index: -1
      background-image: $gradient-main
      border-radius: 50%
      opacity: 0
      transition: opacity 0.5s linear

  &__title
    margin-bottom: 20px
    font-size: 24px
    font-weight: 600
    color: $gray-mineshaft
    text-transform: uppercase

    +r($sm)
      margin-bottom: 10px
      font-size: 20px

  &__desc
    font-size: 15px
    color: $gray-dove

    +r($sm)
      font-size: 13px