.facts
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 140px

  +r($lg)
    grid-gap: 100px

  +r($md)
    grid-gap: 30px

  +r($xs)
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)

  &__item
    text-align: center

  &__icon
    position: relative
    width: 86px
    height: 64px
    margin: 0 auto 26px
    line-height: 64px

    +r($sm)
      margin: 0 auto 20px

    .icon
      position: relative
      z-index: 0
      width: 38px
      height: 31px
      fill: $color-main
      color: #00aeef
      vertical-align: middle

    .icon-user-plus
      height: 26px

    .icon-file-alt
      width: 26px

    .icon-cloud
      +vcenter
      width: 86px
      height: 64px
      fill: $color-white

  &__value
    margin-bottom: 20px
    font-size: 40px
    font-weight: 600
    color: $color-white

    +r($md)
      font-size: 32px

    +r($sm)
      margin-bottom: 15px
      font-size: 26px

  &__desc
    font-size: 24px
    font-weight: 600
    color: $color-white
    text-transform: uppercase

    +r($md)
      font-size: 20px

    +r($sm)
      font-size: 16px