.footer-menu
  display: flex
  flex-wrap: wrap

  &__item

    &:not(:last-of-type)
      margin-right: 40px

      +r($md)
        margin-right: 20px

      +r($sm)
        margin-right: 10px

  &__link
    font-size: 13px
    color: rgba(255, 255, 255, .5)
    text-decoration: none

    +r($sm)
      font-size: 11px