.hamburger
  position: absolute
  top: 0
  right: 0
  overflow: hidden
  display: none
  cursor: pointer

  svg 
    cursor: pointer
    transition: transform 400ms
    user-select: none
    
    .top 
      stroke-dasharray: 40 160

    .middle 
      stroke-dasharray: 40 142
      transform-origin: 50%
      transition: transform 400ms
      transform: rotate(0deg)

    .bottom 
      stroke-dasharray: 40 85
      transform-origin: 50%
      transition: transform 400ms, stroke-dashoffset 400ms

    .line 
      fill: none
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
      stroke: $color-white
      stroke-width: 5.5
      stroke-linecap: round

  &.is-active 
    
    svg
      transform: rotate(45deg)

      .top 
        stroke-dashoffset: -64px

      .middle 
        transform: rotate(90deg)

      .bottom 
        stroke-dashoffset: -64px

  +r($sm)
    display: block