.header-advantages
  display: flex
  justify-content: center

  &__item
    width: 107px
    margin: 0 30px

    +r($xs)
      width: 80px
      margin: 0 10px

  &__hex
    position: relative
    margin-bottom: 15px

  &__hex-border
    +pseudo
    +vcenter
    width: 85px 
    height: 49.07px
    border-left: solid 2px rgba(38, 53, 69, .5)
    border-right: solid 2px rgba(38, 53, 69, .5)

    +r($xs)
      width: 60px
      height: 34.64px

    &::after,
    &::before
      z-index: 1
      width: 60.10px
      height: 60.10px
      -webkit-transform: scaleY(0.5774) rotate(-45deg)
      -ms-transform: scaleY(0.5774) rotate(-45deg)
      transform: scaleY(0.5774) rotate(-45deg)
      background-color: inherit
      left: 10.4480px

      +r($xs)
        width: 42.43px
        height: 42.43px
        left: 6.7868px

    &::before
      top: -30.0520px
      border-top: solid 2.8284px rgba(38, 53, 69, .5)
      border-right: solid 2.8284px rgba(38, 53, 69, .5)

      +r($xs)
        top: -21.2132px

    &::after
      top: auto
      bottom: -30.0520px
      border-bottom: solid 2.8284px rgba(38, 53, 69, .5)
      border-left: solid 2.8284px rgba(38, 53, 69, .5)

      +r($xs)
        bottom: -21.2132px

  &__inner
    width: 77px
    height: 89px
    margin: 0 auto
    line-height: 89px
    background-color: rgba(38, 53, 69, .5)
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)

    +r($xs)
      width: 52px
      height: 60px
      line-height: 60px

    .icon
      width: 30px
      height: 30px
      fill: $color-white
      vertical-align: middle

      +r($xs)
        width: 15px
        height: 15px

  &__value
    font-size: 30px
    font-weight: 700
    color: $color-white

    +r($xs)
      font-size: 20px

  &__title
    font-size: 12px
    font-weight: 800
    color: $color-white
    text-transform: uppercase

    +r($xs)
      font-size: 10px