.footer-list

  &.footer-list_column
    column-count: 2

  &__item
    font-size: 13px
    color: $gray-manatee

    +r($sm)
      font-size: 11px

    &:not(:last-of-type)
      margin-bottom: 15px

      +r($sm)
        margin-bottom: 10px

  &__link
    color: inherit
    text-decoration: none
    transition: color .3s ease

    &:hover
      color: $color-main