.menu
  display: flex

  &__item

    &:not(:last-of-type)
      margin-right: 5px

  &__link
    padding: 19px 20px
    font-size: 14px
    color: $color-white
    text-transform: uppercase
    text-decoration: none
    transition: color .3s ease-in

    +r($md)
      padding: 10px 15px

    &:hover
      color: $color-main

  +r($sm)
    position: absolute
    top: 50px
    right: 0
    z-index: 8
    display: block
    width: 0
    padding: 15px 0
    background-color: $color-primary-dark
    transition: width .5s ease-in-out
    overflow-x: hidden

    &__item

      &:not(:last-of-type)
        margin-right: 0

    &__link
      display: block
      padding: 20px
      font-size: 20px

    &.is-active
      width: 300px

      +r($xs)
        width: 100%