.search-form
  max-width: 570px
  margin: 40px auto 0

  &__wrap
    display: flex
    align-items: center
    margin-bottom: 32px
    padding: 7px 7px 7px 30px
    background-color: $color-white
    border: 1px solid $color-main
    border-radius: 30px

    +r($xs)
      padding: 5px 5px 5px 10px

  &__icon
    margin-right: 14px

    +r($xs)
      margin-right: 10px

    .icon
      fill: $gray
      vertical-align: middle

  &__input
    flex-grow: 1

    +placeholder
      font-size: 15px
      color: $gray-dove

      +r($xs)
        font-size: 12px

  &__btn
    width: max-content
    padding: 14px 33px
    font-size: 15px
    font-weight: 600
    color: $color-white
    text-transform: uppercase
    background: $gradient-main
    border-radius: 22px

    +r($xs)
      padding: 8px 10px
      font-size: 12px

  &__checkbox-wrap
    display: flex
    justify-content: space-evenly

  &__checkbox

    input
      display: none

      &:checked
        ~ label

          span
            background-color: $color-white

    label
      position: relative
      padding-left: 26px
      font-size: 15px
      color: $color-white

      +r($xs)
        font-size: 10px

      span
        position: absolute
        top: 50%
        left: 0
        transform: translateY(-50%)
        width: 15px
        height: 15px
        background-color: transparent
        border: 1px solid $color-main