.services
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-gap: 38px
  margin-top: 70px
  text-align: center

  +r($md)
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 1fr)
    grid-gap: 30px

  +r($sm)
    margin-top: 30px

  +r($xs)
    grid-gap: 16px

  &__item
    position: relative
    padding: 23px 0 35px

    +r($sm)
      padding: 0

    &::before
      content: ''
      position: absolute
      top: 0
      right: -19px
      width: 1px
      height: 100%
      border-left: 1px dashed $color-main

      +r($md)
        right: -15px

      +r($xs)
        right: -8px

    &:last-of-type

      &::before
        content: none

    +r($md)

      &::before
        content: none

      &:not(:nth-child(2n))

        &::before
          content: ''


  &__icon
    font-size: 61px

    .icon
      fill: url(#gradient-main) $color-purple

  &__title
    margin-bottom: 20px
    font-size: 18px
    font-weight: 600
    color: $gray-mineshaft
    text-transform: uppercase

    +r($xs)
      font-size: 16px

  &__desc
    font-size: 15px
    color: $gray-mineshaft

    +r($xs)
      font-size: 12px