.social
  position: absolute
  top: 50%
  left: 15px
  transform: translateY(-50%)
  z-index: 10

  &__link
    display: block

    &:not(:last-of-type)
      margin-bottom: 29px

    .icon
      height: 11px
      fill: $color-white

  +r($xs)
    display: none