.subscribe-item
  display: flex
  flex-wrap: wrap

  &__wrap
    width: calc( 100% - 400px )
    margin-right: 30px

    +r($md)
      width: calc( 100% - 330px )

    +r($sm)
      width: 100%
      margin-right: 0
      margin-bottom: 20px

  &__title
    margin-bottom: 25px

  &__subtitle
    margin-bottom: 40px
    font-size: 13px
    font-weight: 600
    text-align: center
    color: $color-white
    text-transform: uppercase

  &__form
    margin-bottom: 120px

    +r($md)
      margin-bottom: 80px

    +r($sm)
      margin-bottom: 30px

  &__form-wrap
    display: flex
    max-width: 672px
    margin: 0 auto

  &__input
    padding-left: 30px
    flex-grow: 1
    border: 1px solid $gray-mercury
    border-radius: 2px 0 0 2px

    +r($md)
      padding-left: 15px

    +placeholder
      font-size: 15px
      color: $gray-mineshaft

      +r($xs)
        font-size: 12px

  &__btn
    width: max-content
    padding: 20px 43px
    font-size: 18px
    color: $color-white
    text-transform: uppercase
    background-color: $color-main
    border-radius: 0 2px 2px 0

    +r($md)
      padding: 15px 20px

    +r($xs)
      padding: 10px
      font-size: 12px