.subscribe-contact
  display: flex
  align-items: center
  width: 370px

  +r($md)
    width: 300px

  +r($sm)
    margin: 0 auto

  &__info
    width: 100%
    padding: 50px 15px
    text-align: center
    background-color: $color-white
    box-shadow: 0 0 20px rgba(198, 198, 198, .25)

    +r($md)
      padding: 30px 15px

  &__icon
    width: 60px
    height: 60px
    margin: 0 auto 15px
    line-height: 60px
    background-color: $color-main
    border-radius: 50%

    .icon
      fill: $color-white
      vertical-align: middle

  &__title
    margin-bottom: 10px
    font-size: 30px
    font-weight: 600
    color: $gray-mineshaft
    text-transform: uppercase

  &__subtitle
    margin-bottom: 15px
    font-size: 24px
    font-weight: 600
    color: $gray-mineshaft
    text-transform: uppercase

  &__link
    display: block
    margin: 0 auto
    font-size: 24px
    font-weight: 600
    color: $gray-mineshaft
    text-transform: uppercase
    text-decoration: none

  &__btn
    display: block
    width: max-content
    margin: 30px auto 0
    padding: 10px 16px
    font-size: 20px
    font-weight: 600
    color: $color-white
    text-transform: uppercase
    text-decoration: none
    background-color: $color-main
    border-radius: 2px