.tab-faq
  display: flex
  flex-wrap: wrap

  &__header
    width: 172px
    margin-right: 28px

    +r($sm)
      display: flex
      flex-wrap: wrap
      width: 100%
      margin-right: 0
      margin-bottom: 25px

  &__title
    font-size: 16px
    font-weight: 600
    color: $color-success-dark
    text-transform: uppercase

  &__item
    cursor: pointer
    font-size: 14px
    color: $gray-mineshaft

    +r($sm)
      font-size: 12px

    &:not(:last-of-type)
      margin-bottom: 20px

      +r($sm)
        margin-bottom: 10px
        margin-right: 10px

    &:first-of-type
      margin-bottom: 30px

      +r($sm)
        width: 100%
        margin-right: 0
        margin-bottom: 15px

    &.is-active
      color: $color-main

  &__content
    width: calc( 100% - 200px )

    +r($sm)
      width: 100%

  &__content-item
    display: none