.tabs
  padding: 0 70px

  +r($lg)
    padding: 0 30px

  +r($md)
    padding: 0

  &__header
    display: grid
    grid-template-columns: repeat(6, 1fr)
    grid-gap: 1px
    margin-bottom: 45px

    +r($xs)
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(2, 1fr)

  &__item
    position: relative
    cursor: pointer
    font-size: 15px
    font-weight: 600
    text-align: center
    color: $gray-mineshaft
    text-transform: uppercase
    background-color: $gray-alabaster
    border-radius: 2px
    transition: color .3s ease

    +r($md)
      font-size: 13px

    +r($sm)
      font-size: 11px

    span
      position: relative
      z-index: 1
      display: block
      width: 100%
      height: 100%
      padding: 20px 15px

      +r($sm)
        padding: 15px 10px

    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      transform: translate(0, 0)
      z-index: 0
      width: 100%
      height: 100%
      background-image: $gradient-main
      border-radius: 2px
      opacity: 0
      transition: opacity .3s ease

    &.is-active
      color: $color-white

      &::before
        opacity: 1

  &__content-item
    display: none

  &__wrap
    display: flex
    align-items: start
    flex-wrap: wrap

  &__title
    width: 100%
    margin-bottom: 25px
    font-size: 20px
    font-weight: 600
    color: $gray-mineshaft

    +r($sm)
      margin-bottom: 15px
      font-size: 18px

  &__text-wrap
    width: calc( 100% - 370px )
    margin-right: 30px

    +r($md)
      width: 100%
      margin-right: 0
      margin-bottom: 30px

  &__desc
    font-size: 15px
    line-height: 25px
    color: $gray-dove

    +r($sm)
      font-size: 13px

    &:not(:last-of-type)
      margin-bottom: 12px

  &__img
    width: 100%
    max-width: 340px