.title-light
  font-size: 30px
  font-weight: 700
  text-align: center
  color: $color-white
  text-transform: uppercase

  +r($md)
    font-size: 26px

  +r($xs)
    font-size: 20px

.title-dark
  font-size: 30px
  font-weight: 700
  text-align: center
  color: $gray-mineshaft
  text-transform: uppercase

  +r($md)
    font-size: 26px

  +r($xs)
    font-size: 20px