.icon-cart-plus {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-chat {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-cloud {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.icon-comment {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-database {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-envelope {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-file-alt {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-file-pdf {
  width: 0.75em;
  height: 1em;
  fill: initial;
}
.icon-google-plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-instagram {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-ioxhost {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.icon-laptop {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-life-ring {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-lock {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-minus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone-call {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-pinterest {
  width: 0.97em;
  height: 1em;
  fill: initial;
}
.icon-plus {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-quote-left {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-registered {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-share-alt {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.icon-shopping-cart {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.icon-skype {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-user-plus {
  width: 1.25em;
  height: 1em;
  fill: initial;
}
.icon-user {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
